/* 
    Site:
    Author: Rafael Passos Guimarães
    e-mail: rapassos@gmail.com
    Data: 02/12/2020
*/

#playGame{
    display: none;
    background-color: cyan;
}

#niveis{
    display:block;
    background-color: gray;
}